
<body>
<header>
  <h2><a href="#"><i ></i> Patient Medical Record</a></h2>
</header>

<div class="cover">


  <table>
    <tr>
      <td >Address</td>
      <td >{{getMRA.getAddress()}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{getMRA.getName()}}</td>
    </tr>

    <tr>
      <td>National ID</td>
      <td>{{getMRA.getNationalID()}}</td>
    </tr>

    <tr>
      <td>Date</td>
      <td>{{getMRA.getDate()}}</td>
    </tr>
    <tr>
      <td>PhoneNumber</td>
      <td>{{getMRA.getPhoneNumber()}}</td>
    </tr>
  </table>
</div>

</body>




