
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}


ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    margin: 0px;
    font-size: 23px;

}



ul.topnav li a.active {background-color: #af6087;}

ul.topnav li.right {
    float: right;


}




body{
    margin: 0;
    width: 100%;
    height: 650px;
    background-color: whitesmoke;


}

.sideNav{
    border-right: 1px solid gray ;
    padding: 5px;
    margin: 58px 0 0 0 ;
    background-color: #ffdee8;
    width: 242px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

label{
    display: block;

    padding: 2px;
}

label.labelLeft{
    padding: 5px;
    font-size: 20px;
    border: 1px solid whitesmoke;
}

a{
    display: inline-block;
}

.content{
    display: inline-flex;
    margin: 58px 5px 5px 270px ;
    height: 190px;
    border-bottom: 1px solid gray;
    width: 75%;


}


/* On mouse-over, add a deeper shadow */
#Prescription:hover , #Diagnosis:hover ,#surgery:hover , #labTest:hover,#bloodDonation:hover , #radiology:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

label.cont ,a{
    display: block;
    margin: 15px ;
    font-size: 20px;
}

label.cont{
    border: 1px solid lightgrey;
}

#Prescription {
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    background-image: url("~src/assets/pres.png") ;
    background-size: 100px;
}
#Diagnosis {
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    background-image: url("~src/assets/diagnosis.png") ;
    background-size: 100px;
}

#surgery {
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    background-image: url("~src/assets/surgery.png") ;
    background-size: 100px;
}

#labTest {
     width: 100px;
     height: 100px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     border-radius: 12px;
     background-image: url("~src/assets/labTest.png") ;
     background-size: 100px;
 }

#bloodDonation {
     width: 100px;
     height: 100px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     border-radius: 12px;
     background-image: url("~src/assets/blood.png") ;
     background-size: 100px;
 }

#radiology {
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    background-image: url("~src/assets/x-rays.png") ;
    background-size: 100px;
}

#Correction {
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    background-image: url("~src/assets/correction.png") ;
    background-size: 100px;
}

#bloodDonationTable{
     display: inline-flex;
     margin: 58px 5px 0 290px ;
     height: 190px;
     width: 75%;

     border-collapse: collapse;
 }

#bloodDonationTable td, #bloodDonationTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#bloodDonationTable th {
    padding-top: 12px;
    text-align: left;
    background-color: #af1f23;
    color: white;
}

#DiagnosisTable{
    display: inline-flex;
    margin: 58px 5px 0 290px ;
    height: 190px;
    width: 75%;

    border-collapse: collapse;
}

#DiagnosisTable td, #DiagnosisTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#DiagnosisTable th {
    padding-top: 12px;
    text-align: left;
    background-color: #FC7F59;
    color: white;
}

#SurgeryTable{
    display: inline-flex;
    margin: 58px 5px 0 290px ;
    height: 190px;
    width: 75%;

    border-collapse: collapse;
}

#SurgeryTable td, #SurgeryTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#SurgeryTable th {
    padding-top: 12px;
    text-align: left;
    background-color: #FC7F59;
    color: white;
}

#RadiologyTable{
    display: inline-flex;
    margin: 58px 5px 0 290px ;
    height: 190px;
    width: 75%;

    border-collapse: collapse;
}

#RadiologyTable td, #RadiologyTable th {
    border: 1px solid #ddd;
    padding: 4px;
}

#RadiologyTable th {
    padding-top: 12px;
    text-align: left;
    background-color: #659b97;
    color: white;
}

#LabTestTable{
    display: inline-flex;
    margin: 58px 5px 0 290px ;
    height: 190px;
    width: 75%;

    border-collapse: collapse;
}

#LabTestTable td, #LabTestTable th {
    border: 1px solid #ddd;
    padding: 4px;
}

#LabTestTable th {
    padding-top: 12px;
    text-align: left;
    background-color: #F4B459;
    color: white;
}

#PrescribtionTable{
    display: inline-flex;
    margin: 58px 5px 0 290px ;
    height: 190px;
    width: 75%;

    border-collapse: collapse;
}

#PrescribtionTable td, #PrescribtionTable th {
    border: 1px solid #ddd;
    padding: 4px;
}

#PrescribtionTable th {
    padding-top: 12px;
    text-align: left;
    background-color: #F4B459;
    color: white;
}


a.preview:link, a.preview:visited {
    background-color: #cc0000;
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
}

a.preview:hover {
    background-color: #e30000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#drugTable th{
    background-color: #56585b;
}

.drugList{
    background-color: #ffbc5c;
    padding: 7px 12px;
    color: white;
}

.drugList:hover {
    background-color: #ffd1a7;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}