



<ul class="topnav" >
    <li><a class="active" href="#">Patient Medical Record</a></li>

    <li class="right"><a style="font-size: 18px">Your Address: {{getMRA.getAddress()}}</a></li>
</ul>


<body>
<div class="sideNav">

    <div class="sideNavLabel">
        <label class="labelLeft" for="nationalID"><b>NationalID</b></label>
        <a  id="nationalID" >{{getMRA.getNationalID()}}</a>
    </div>
    <hr>
    <div class="sideNavLabel">
        <label class="labelLeft" for="name"><b>Name</b></label>
        <a  id="name" >{{getMRA.getName()}}</a>
    </div>
    <hr>
    <div class="sideNavLabel">
        <label class="labelLeft" for="phoneNumber"><b>PhoneNumber</b></label>
        <a id="phoneNumber" >{{getMRA.getPhoneNumber()}}</a>
    </div>
    <hr>
    <div class="sideNavLabel">
        <label class="labelLeft" for="data"><b>Date</b></label>
        <a id="data" >{{getMRA.getDate()}}</a>
    </div>
    <hr>
    <div class="sideNavLabel">
        <label class="labelLeft" for="gender"><b>Gender</b></label>
        <a id="gender" >{{getMRA.getGender()}}</a>
    </div>
    <hr>
    <div class="sideNavLabel">
        <label class="labelLeft" for="bloodType"><b>BloodType</b></label>
        <a id="bloodType" >{{getMRA.getBloodType()}}</a>
    </div>
    <hr>
</div>

<div class="content">
    <div>
   <label class="cont" for="Prescription">Prescription</label>
    <a id="Prescription" > </a>
    </div>

    <div>
    <label class="cont" for="Diagnosis">Diagnosis</label>
    <a id="Diagnosis" (click)="displayDiagnosises()"></a>
    </div>

    <div>
        <label class="cont" for="surgery">Surgery</label>
        <a (click)="displaySurgerises()" id="surgery"></a>
    </div>

    <div>
        <label class="cont" for="labTest">LaboratoryTest</label>
        <a id="labTest"></a>
    </div>

    <div>
        <label class="cont" for="bloodDonation">BloodDonation</label>
        <a (click)="displayBloodDonation()" id="bloodDonation"></a>
    </div>

    <div>
        <label class="cont" for="radiology">Radiology</label>
        <a  id="radiology"></a>
    </div>

</div>
        <table id="bloodDonationTable" *ngIf="flagBloodDonation" >
            <tr>
                <th>ID</th>
                <th>Hospital</th>
                <th>Doctor</th>
                <th>DonationType</th>
                <th>Date</th>
                <th>Amount</th>

            </tr>
            <tr *ngFor="let e of getMRA.P_BloodDonation;let i = index">
                <td>{{i+1}}</td>
                <td>{{getMRA.P_BloodDonation[i]['hospitalName']}}</td>
                <td>{{getMRA.P_BloodDonation[i]['doctorName']}}</td>
                <td>{{getMRA.P_BloodDonation[i]['donationType']}}</td>
                <td >{{getMRA.P_BloodDonation[i]['date'] *1000| date }}</td>
                <td>{{getMRA.P_BloodDonation[i]['amount'] }}</td>
            </tr>
        </table>

        <table id="DiagnosisTable" *ngIf="flagDiagnosis" >
            <tr>
                <th>ID</th>
                <th>Hospital</th>
                <th>Doctor</th>
                <th>Diagnosis Description</th>
                <th>Date</th>

            </tr>
            <tr *ngFor="let e of getMRA.P_diagnosises;let i = index">
                <td>{{i+1}}</td>
                <td>{{getMRA.P_diagnosises[i]['hospitalName']}}</td>
                <td>{{getMRA.P_diagnosises[i]['doctorName']}}</td>
                <td>{{getMRA.P_diagnosises[i]['diognosisDescription']}}</td>
                <td >{{getMRA.P_diagnosises[i]['date'] *1000| date }}</td>
            </tr>
        </table>

        <table id="SurgeryTable" *ngIf="flagSurgery" >
            <tr>
                <th>ID</th>
                <th>hospitalName</th>
                <th>Main Doctor</th>
                <th>surgeryName</th>
                <th>duration in minutes</th>
                <th>Surgery Information</th>
                <th>Date</th>


            </tr>
            <tr *ngFor="let e of getMRA.P_surgeries;let i = index">
                <td>{{i+1}}</td>
                <td>{{getMRA.P_surgeries[i]['hospitalName']}}</td>
                  <td>{{getMRA.P_surgeries[i]['mainDoctor']}}</td>
                  <td>{{getMRA.P_surgeries[i]['surgeryName']}}</td>
                  <td>{{getMRA.P_surgeries[i]['duration']}}</td>
                  <td>{{getMRA.P_surgeries[i]['surgeryInformation']}}</td>
                  <td>{{getMRA.P_surgeries[i]['date'] *1000| date }}</td>
            </tr>
        </table>



</body>