<body>
<div class="sideNav">

    <div>
        <label for="address"><b>address</b></label>
            <label id="address" >0*20000000000</label>
    </div>
    <div>
        <label for="nationalID"><b>NationalID</b></label>
        <label  id="nationalID" >{{getMRA.getNationalID()}}</label>
    </div>
    <div>
        <label for="name"><b>Name</b></label>
        <a  name="name" >{{getMRA.getName()}}</a>
    </div>
    <div>
        <label for="phoneNumber"><b>PhoneNumber</b></label>
        <label id="phoneNumber" >05555555</label>
    </div>
    <div>
        <label for="data"><b>Date</b></label>
        <label id="data" >{{getMRA.getDate()}}</label>
    </div>
    <div>
        <label for="gender"><b>Gender</b></label>
        <a id="gender" >Male</a>
    </div>

</div>

<div class="content">
    <p> Healthcare medical records have a long history of being inefficient, expensive and vulnerable. Currently, Each hospital has its own copy of a patient’s medical record. Every time a patient visits a hospital, the</p>
</div>


</body>